---
import Layout from '../layouts/Layout.astro';

import Header from '@/sections/Header.astro';
import About from '@/sections/About.astro';
import Projects from '@/sections/Projects.astro';
import Skills from '@/sections/Skills.astro';
import Footer from '@/sections/Footer.astro';
---

<Layout title="Portfolio with Astro">
	<Header/>
	<main>
		<About />
		<Projects/>
		<Skills/>
	</main>
	<Footer/>
</Layout>
