---
import SectionContainer from '@/components/SectionContainer.astro'
import ButtonContainer from '@/components/ButtonContainer.astro'
---
<SectionContainer>
  <h2 class="font-semibold mb-4 text-2xl">Porfolio Juan Palma</h2>

  <img 
    class="rounded-full  w-48 mt-2 mb-10 border-solid border-gray-400 border-2" 
    src="./foto_mia.jpg" 
    alt="foto de perfil"
  >

  <h2 class="text-xl mb-6 text-center">Sobre mi</h2>

  <ButtonContainer>
    <span class="w-auto h-10 flex px-5 py-1 border-2 rounded-md bg-slate-500 border-white">Disponible para trabajar</span>
  </ButtonContainer>

  <div class=" text-sm mb-5">
    Mi nombre es <span class="font-semibold">Juan Palma</span>, Soy un Desarrollador Frontend con más de 2 años de experiencia. Mi pasión por la informática y la programación junto con la alta capacidad de resolución de problemas me ha llevado a obtener certificaciones en instalación de redes, atención al cliente y desarrollo web. Además de contar con amplios conocimientos en armado y reparación de computadoras.
  </div>
    
  <div class="font-normal text-sm mb-5">
    Mi objetivo profesional es realizarme como Desarrollador Frontend y aportar valor a una empresa innovadora. Soy una persona proactiva, responsable y con gran capacidad de aprendizaje. En mi tiempo libre, disfruto de aprender nuevas tecnologías, leer, salir a caminar, practicar deporte.
  </div>
</SectionContainer>