---

---
<section class="flex flex-col text-center">
  <h2 class="text-xl mb-6 text-center">Sobre mi</h2>

  <div class=" text-sm mb-5">
    Mi nombre es <span class="font-semibold">Juan Palma</span>, Soy un Desarrollador Frontend con más de 2 años de experiencia en el Desarrollo Web. Mi pasión por la programación y la resolución de problemas me ha llevado a obtener certificaciones en instalación de redes, atención al cliente y desarrollo web. Además, cuento con amplios conocimientos en armado y reparación de computadores</div>
    
  <div class="font-normal text-sm mb-5">
    Mi objetivo profesional es realizarme como desarrollador frontend y aportar valor a una empresa innovadora. Soy una persona proactiva, responsable y con gran capacidad de aprendizaje. En mi tiempo libre, disfruto de aprender nuevas tecnologías, leer, salir a caminar, practicar deporte.
  </div>

  </div>
</section>

<style>

</style>